#banner_wrap {
    height: 40vh;
    position: relative;
    top: 5.5rem;
    border-radius: 30px;
    margin-bottom: 12rem;
    margin-inline: .5rem;
    background-color: grey;
    border-bottom: 4px solid $clr_color_alt;
    filter: drop-shadow(0px 0px 0.33rem #FF85524E);

    @media only screen and (min-width: $m) {
        top: 8rem;
        margin-inline: 1rem ;
    }
    @media only screen and (min-width: $l) {
        top: 9rem;
    }
    
    @media only screen and (min-width: $m) {
        .startseite & { height: 85.5vh !important; }
    }
    @media only screen and (min-width: $l) {
        .startseite & { height: 83.5vh !important; }
    }
    .startseite & {
        height: 90vh;
    }

    figure.banner {
        height: 100%;

        img.banner_image {
            &::selection {
                background-color: transparent;
                color: transparent;
            }
            border-radius: 30px;
            transition: opacity 2s ease-in-out;
            width: 100%;
            height: 100%;
            object-fit: cover;
            pointer-events: none;
            position: absolute;
            left: 0;
            top: 0;
        }

        img.banner_image:first {
            position: relative;
        }
    }

    #banner_stop {
        z-index: 1;
        position: absolute;
        bottom: 3rem;
        left: 3rem;
        font-size: $font_size-xl;
        font-weight: 400; 
        width: 3rem;
        height: 2.75rem;

        &.banner_paused {
            background-color: $clr_main;
        }
    }
    #banner_counter {
        position: absolute;
        bottom: 3rem;
        left: 50%;
        font-size: $font_size-xl;
        font-weight: 400;
        filter: $drop_shadow-main;
        transform: translateX(-50%);
        color: $clr_second;
    }    
}