@import '../fonts/Queensides/_stylesheet';
@import '../fonts/SF_Pro_Display/_stylesheet';

$clr_main: #1b1b1c;
$clr_main_light: lighten($clr_main, $amount: 4%);
$clr_main_dark: darken($clr_main, 4%);
$clr_second: #efefef;
$clr_second_dark: darken($clr_second, 10%);
$clr_second_darker: darken($clr_second, 20%);

$clr_color: #8C271E;
$clr_color-darker: darken($clr_color, 10%);
$clr_color-lighter: lighten($clr_color, $amount: 10%);

$clr_color_alt: #FF8552;
$clr_color_alt-darker: darken($clr_color_alt, 10%);
$clr_color_alt-lighter: lighten($clr_color_alt, $amount: 10%);

$font_family: 'SF Pro Display', Arial, Helvetica, sans-serif;
$font_size-xs: 12px;
$font_size-s: 14px;
$font_size-m: 16px;
$font_size-l: 24px;
$font_size-xl: 32px;
$font_size-xxl: 38px; 

$box_shadow-main: 0 0 3rem .25rem $clr_main; 
$box_shadow-menues: 0 0 2rem 0rem $clr_main; 
$box_shadow-clr: 0 0 3rem .25rem $clr_color;
$drop_shadow-clr: drop-shadow(0px 0px 0.33rem $clr_color); 
$drop_shadow-main: drop-shadow(0px 0px 0.33rem $clr_main); 

$xxs: 360px;
$xs: 480px;
$s: 560px;
$m: 768px;
$l: 1024px;
$xl: 1280px;
$xxl: 1500px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font_family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
    color: $clr_main;
    background: $clr_second;
}
  
::selection {
    color: $clr_main;
    background: $clr_second;
}

a {
    color: $clr_second;
    text-decoration: none;
    
    &:visited {
        text-decoration: none;
        color: $clr_second;
    }
}

h1 {
    position: relative;
    margin-bottom: 1rem;
    font-size: 56px;
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 4rem;
        height: 3px;
        bottom: 0px;
        background-color: $clr_color;
        transition: width 250ms;
    }
}

button {
    border: none;
    background-color: $clr_main_dark;
    color: $clr_second;
    border-radius: 12px;
    padding-inline: 1rem;
    padding-block: .5rem;
    box-shadow: $box_shadow-main;
    transition: background 250ms ease;
    cursor: pointer;

    &:hover {
        background-color: $clr_color-darker;
    }

    &:active {
        transition: background 0ms ease;
        background-color: $clr_main;
    }
}

body {
    background-color: $clr_main_dark;
}

.wrap_center {
    padding-inline: 1rem;
    @media only screen and (min-width: $l) {
        padding-inline: 2rem;
    }
    @media only screen and (min-width: $xl) {
        padding-inline: 4rem;
    }
}

/* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $clr_main_light;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $clr_second_dark;
    border-radius: 6px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $clr_second_darker;
  }