#navContentDivider {
    height: 10rem
}
main#content {
    padding-inline: 6rem;

    ul {

        li {
            &::marker {
                color: $clr_color_alt;
            }
        }
    }
}