@import '../fonts/Queensides/_stylesheet';

$clr_main: #292929;
$clr_second: #efefef;
$clr_color: red;
$clr_color_alt: orange;

$font_family: 'Queensides', Arial, Helvetica, sans-serif;
$font_weight-light: 300;
$font_weight-normal: 400;
$font_weight-medium: 500;
$font_size-xs: 8px;
$font_size-s: 10px;
$font_size-m: 12px;
$font_size-l: 16px;
$font_size-xl: 20px;
$font_size-xxl: 32px;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font_family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: $clr_second;
    text-decoration: none;
    
    &:visited {
        text-decoration: none;
        color: $clr_second;
    }


}