#header {
    position: fixed;
    width: calc(100% - 2rem);
    margin: 1rem 0 0 1rem;
    border-radius: 1rem;
    background-color: $clr_main;
    padding-block: 1rem;
    padding-inline: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: padding 250ms ease,
                width 250ms ease,
                margin 250ms ease;

    filter: drop-shadow(0px 0px .25rem $clr_main);
    z-index: 1;

    .scroll & {
        padding-block: 0.25rem;
        margin: .5rem 0 0 .5rem;
        width: calc(100% - 1rem);
    }

    #logo{

        .logo_inner {
            padding: 1rem;
            display: block;
            color: $clr_main; 
            font-size: $font_size-xxl;
            transform-origin: center;
            color: $clr_second;
            font-family: $font_family;
            font-weight: $font_weight-medium;
            border: none;
            transition: font-size 250ms ease;

            .scroll & {
                font-size: $font_size-xl;
            }
    
            &::after {
                content: '';
                display: block;
                width: 40px;
                height: 3px;
                background-color: $clr_color;
                transition: width 250ms;
            }
        }

        a.logo_inner {
            &:hover,
            &:focus {
                &::after {
                    width: 100%;
                }
            }
        }
    }

    #mainMenue {
        display: flex;

        .sub_menue {
            color: $clr_second;
            font-family: $font_family;
            font-weight: $font_weight-medium;
            position: relative;
            transition: all 250ms ease;
            padding: 1rem;
            padding-inline: 2rem;
            margin-left: -2px;
            transition: transform 250ms ease,
                        border 250ms ease;
            border: 2px solid transparent;
            border-radius: .75rem;

            &:hover,
            &:focus {
                border: 2px solid $clr_color;
            }

            &:not(:first-child) {
                
                &::before {
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 1.5rem;
                    left: -2px;
                    background-color: $clr_color;
                }
            }

            &:nth-child(1)::before, &:nth-child(4)::before {left: -2px;}
        }

        div.sub_menue {
            color: $clr_second;
            font-family: $font_family;
            text-decoration: none;
            transition: transform 250ms ease;
            border: 2px solid transparent;
            padding: 1rem;
            padding-inline: 2rem;
            border-radius: .75rem;
            border: 2px solid $clr_color;
            background-color: $clr_color;

            &:nth-child(2)::before { left: 0 !important; }
        }
    }
}