fieldset {
    width: 33%;
}

form {
    font-size: xx-large;

    .buttons {
        font-size: xx-large;
    }

    .fields {
        font-size: xx-large;
    }

    option {
        font-size: xx-large;
    }

    .check {
        height: 25px;
        width: 25px;
    }
}

