.steven {
    background-image: url('/public_html/img/fruit_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .content_container,
    .register_form {
        background-color: #252526AA !important;
        backdrop-filter: blur(50px);
    }
}

.register_form {
    display: block;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin-top: 5rem;
    margin-inline: 15rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-inline: 15rem;
    background-color: $clr_main_light;
    box-shadow: 0 0 1rem 1px rgba(37,37,38,0.75); 

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;
    }
}

.form_h2 {
    text-align: center;
    font-size: 50px;
}

.field_container {
    text-align: center;
    font-size: 25px;
    padding-top: 1rem;
}

.field_container input,
.field_container select {
    text-align: center;
    font-size: 25px;
    border-radius: 10px;
}

.field_container button {
    text-align: center;
    font-size: 25px;
    margin-top: 25px;
}

.slideshowHeading {
    margin-top: 3rem;
    text-align: center;
    font-size: 35px;
    color: $clr_second;
}

.slideshowContainer {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.slideContainer {
    flex: 0 0 25%; 
}

.customerSlide {
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.customerSlide img {
    width: 100%;
    height: auto;
    display: block;
    opacity: 0;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
}

.customerSlide:hover img {
    opacity: 1;
}

.slideText {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.7); 
    padding: 5px;
}

.customerSlide:hover .slideText {
    opacity: 1;
}

