fieldset {
    width: 33%;
}

form {
    font-size: xx-large;

    .buttons {
        font-size: xx-large;
    }

    .fields {
        font-size: xx-large;
    }

    option {
        font-size: xx-large;
    }

    .radio {
        height: 20px;
        width: 20px;
    }
}

